### DataFrame and Series

In [1]:
import pandas as pd

Create a simple Pandas Series from a dictionary

In [2]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

Create a simple Pandas DataFrame

In [3]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
data_F = pd.DataFrame(data)

print( data_F)

   calories  duration
0       420        50
1       380        40
2       390        45

In [4]:
#Add a list of names to give each row a name:
data_F = pd.DataFrame(data , index = ["day_1" , "day_2" , "day_3"])
data_F

       calories  duration
day_1       420        50
day_2       380        40
day_3       390        45

Load Data pd.read_csv()

In [5]:
df = pd.read_csv("HRDataset_v14.csv")

##### Get shape: df.shape

In [6]:
df.shape

(311, 36)

##### pandas.DataFrame.size

In [7]:
#Return an int representing the number of elements in object.
df.size

11196

##### Get First Rows: df.head()

In [8]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

##### Get last Rows: df.tail()

In [9]:
df.tail(7)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
304,"Winthrop, Jordan",10033,0,0,1,5,5,4,0,70507,...,Brannon Miller,12.0,LinkedIn,Exceeds,5.00,3,0,1/19/2016,0,7
305,"Wolk, Hang T",10174,0,0,0,1,5,3,0,60446,...,David Stanley,14.0,LinkedIn,Fully Meets,3.40,4,0,2/21/2019,0,14
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

##### Get Summarizing Statistics: df.info() & df.describe()

In [10]:
# method prints information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [11]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,303.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.570957,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.078306,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,10.000000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,15.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [12]:
pd.set_option('display.max_columns' , 36)

In [13]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [14]:
#Get Number of columns in DataFrame
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [15]:
#Get Number of Rows in DataFrame
df.index

RangeIndex(start=0, stop=311, step=1)

Extract a Single Column: df['col_name']

In [16]:
df.GenderID

0      1
1      1
2      0
3      0
4      0
      ..
306    1
307    0
308    0
309    0
310    0
Name: GenderID, Length: 311, dtype: int64

In [17]:
df.GenderID.value_counts()

0    176
1    135
Name: GenderID, dtype: int64

In [18]:
df["GenderID"]

0      1
1      1
2      0
3      0
4      0
      ..
306    1
307    0
308    0
309    0
310    0
Name: GenderID, Length: 311, dtype: int64

Extract N Columns: df[['col1_name', 'col2_name']]

In [19]:
df[["GenderID" , "PositionID" , "RecruitmentSource"]]

     GenderID  PositionID  RecruitmentSource
0           1          19           LinkedIn
1           1          27             Indeed
2           0          20           LinkedIn
3           0          19             Indeed
4           0          19      Google Search
..        ...         ...                ...
306         1          20           LinkedIn
307         0          19      Google Search
308         0           6  Employee Referral
309         0           9  Employee Referral
310         0          19           LinkedIn

[311 rows x 3 columns]

##### Extract Multiple Rows and Columns

In [20]:
#loc is used to select data by label
df.loc[ : ,"GenderID"]

0      1
1      1
2      0
3      0
4      0
      ..
306    1
307    0
308    0
309    0
310    0
Name: GenderID, Length: 311, dtype: int64

In [21]:
# use to select a specific row or column from the data set  {integer location}
#sclicing with columns & rows
df.iloc[5 : , : 8]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID
5,"Anderson, Linda",10002,0,0,0,1,5,4
6,"Andreola, Colby",10194,0,0,0,1,4,3
7,"Athwal, Sam",10062,0,4,1,1,5,3
8,"Bachiochi, Linda",10114,0,0,0,3,5,3
9,"Bacong, Alejandro",10250,0,2,1,1,3,3
...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3
307,"Ybarra, Catherine",10301,0,0,0,5,5,1
308,"Zamora, Jennifer",10010,0,0,0,1,3,4
309,"Zhou, Julia",10043,0,0,0,1,3,3
310,"Zima, Colleen",10271,0,4,0,1,5,3

In [22]:
df.loc[[1,2] ,["EmpID" ,"MarriedID"]]

   EmpID  MarriedID
1  10084          1
2  10196          1

In [23]:
df.iloc[[1,2] , [1,2]]

   EmpID  MarriedID
1  10084          1
2  10196          1

##### Extract Rows using Boolean Subsetting

In [24]:
df.loc[df["DeptID"]==5 , :]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
5,"Anderson, Linda",10002,0,0,0,1,5,4,0,57568,0,19,Production Technician I,MA,1844,05/22/77,F,Single,US Citizen,No,White,1/9/2012,NaN,N/A-StillEmployed,Active,Production,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,"Winthrop, Jordan",10033,0,0,1,5,5,4,0,70507,1,20,Production Technician II,MA,2045,11/07/58,M,Single,US Citizen,No,White,1/7/2013,2/21/2016,retiring,Voluntarily Terminated,Production,Brannon Miller,12.0,LinkedIn,Exceeds,5.00,3,0,1/19/2016,0,7
305,"Wolk, Hang T",10174,0,0,0,1,5,3,0,60446,0,20,Production Technician II,MA,2302,04/20/85,F,Single,US Citizen,No,White,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,3.40,4,0,2/21/2019,0,14
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

##### pandas.DataFrame.set_index

In [25]:
#Set the DataFrame index using existing columns.
df.set_index("EmpID")

,Employee_Name,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
EmpID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
10026,"Adinolfi, Wilson K",0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
10084,"Ait Sidi, Karthikeyan",1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
10196,"Akinkuolie, Sarah",1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
10088,"Alagbe,Trina",1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
10069,"Anderson, Carol",0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10135,"Woodson, Jason",0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
10301,"Ybarra, Catherine",0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
10010,"Zamora, Jennifer",0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
10043,"Zhou, Julia",0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
10271,"Zima, Colleen",0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [26]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [27]:
#Create a MultiIndex using columns
df.set_index(["DeptID","Employee_Name"])

                                 EmpID  MarriedID  MaritalStatusID  GenderID  \
DeptID Employee_Name
5      Adinolfi, Wilson  K       10026          0                0         1
3      Ait Sidi, Karthikeyan     10084          1                1         1
5      Akinkuolie, Sarah         10196          1                1         0
       Alagbe,Trina              10088          1                1         0
       Anderson, Carol           10069          0                2         0
...                                ...        ...              ...       ...
       Woodson, Jason            10135          0                0         1
       Ybarra, Catherine         10301          0                0         0
3      Zamora, Jennifer          10010          0                0         0
       Zhou, Julia               10043          0                0         0
5      Zima, Colleen             10271          0                4         0

                                 EmpStatusID  PerfScoreID  \
DeptID Employee_Name
5      Adinolfi, Wilson  K                 1            4
3      Ait Sidi, Karthikeyan               5            3
5      Akinkuolie, Sarah                   5            3
       Alagbe,Trina                        1            3
       Anderson, Carol                     5            3
...                                      ...          ...
       Woodson, Jason                      1            3
       Ybarra, Catherine                   5            1
3      Zamora, Jennifer                    1            4
       Zhou, Julia                         1            3
5      Zima, Colleen                       1            3

                                 FromDiversityJobFairID  Salary  Termd  \
DeptID Employee_Name
5      Adinolfi, Wilson  K                            0   62506      0
3      Ait Sidi, Karthikeyan                          0  104437      1
5      Akinkuolie, Sarah                              0   64955      1
       Alagbe,Trina                                   0   64991      0
       Anderson, Carol                                0   50825      1
...                                                 ...     ...    ...
       Woodson, Jason                                 0   65893      0
       Ybarra, Catherine                              0   48513      1
3      Zamora, Jennifer                               0  220450      0
       Zhou, Julia                                    0   89292      0
5      Zima, Colleen                                  0   45046      0

                                 PositionID                  Position State  \
DeptID Employee_Name
5      Adinolfi, Wilson  K               19   Production Technician I    MA
3      Ait Sidi, Karthikeyan             27                   Sr. DBA    MA
5      Akinkuolie, Sarah                 20  Production Technician II    MA
       Alagbe,Trina                      19   Production Technician I    MA
       Anderson, Carol                   19   Production Technician I    MA
...                                     ...                       ...   ...
       Woodson, Jason                    20  Production Technician II    MA
       Ybarra, Catherine                 19   Production Technician I    MA
3      Zamora, Jennifer                   6                       CIO    MA
       Zhou, Julia                        9              Data Analyst    MA
5      Zima, Colleen                     19   Production Technician I    MA

                                  Zip       DOB Sex MaritalDesc CitizenDesc  \
DeptID Employee_Name
5      Adinolfi, Wilson  K       1960  07/10/83  M       Single  US Citizen
3      Ait Sidi, Karthikeyan     2148  05/05/75  M      Married  US Citizen
5      Akinkuolie, Sarah         1810  09/19/88   F     Married  US Citizen
       Alagbe,Trina              1886  09/27/88   F     Married  US Citizen
       Anderson, Carol           2169  09/08/89   F    Divorced  US Citizen
...                               ...       ...  ..         ...         ...
       Woodson, Jason            1810  05/11/85  M       Single  US Citizen
       Ybarra, Catherine         2458  05/04/82   F      Single  US Citizen
3      Zamora, Jennifer          2067  08/30/79   F      Single  US Citizen
       Zhou, Julia               2148  02/24/79   F      Single  US Citizen
5      Zima, Colleen             1730  08/17/78   F     Widowed  US Citizen

                                HispanicLatino RaceDesc DateofHire  \
DeptID Employee_Name
5      Adinolfi, Wilson  K                  No    White   7/5/2011
3      Ait Sidi, Karthikeyan                No    White  3/30/2015
5      Akinkuolie, Sarah                    No    White   7/5/2011
       Alagbe,Trina                         No    White   1/7/2008
       Anderson, Carol                      No    White  7/11/2011
...                                        ...      ...        ...
       Woodson, Jason                       No    White   7/7/2014
       Ybarra, Catherine                    No    Asian   9/2/2008
3      Zamora, Jennifer                     No    White  4/10/2010
       Zhou, Julia                          No    White  3/30/2015
5      Zima, Colleen                        No    Asian  9/29/2014

                                DateofTermination         TermReason  \
DeptID Employee_Name
5      Adinolfi, Wilson  K                    NaN  N/A-StillEmployed
3      Ait Sidi, Karthikeyan            6/16/2016      career change
5      Akinkuolie, Sarah                9/24/2012              hours
       Alagbe,Trina                           NaN  N/A-StillEmployed
       Anderson, Carol                   9/6/2016   return to school
...                                           ...                ...
       Woodson, Jason                         NaN  N/A-StillEmployed
       Ybarra, Catherine                9/29/2015   Another position
3      Zamora, Jennifer                       NaN  N/A-StillEmployed
       Zhou, Julia                            NaN  N/A-StillEmployed
5      Zima, Colleen                          NaN  N/A-StillEmployed

                                       EmploymentStatus         Department  \
DeptID Employee_Name
5      Adinolfi, Wilson  K                       Active  Production
3      Ait Sidi, Karthikeyan     Voluntarily Terminated              IT/IS
5      Akinkuolie, Sarah         Voluntarily Terminated  Production
       Alagbe,Trina                              Active  Production
       Anderson, Carol           Voluntarily Terminated  Production
...                                                 ...                ...
       Woodson, Jason                            Active  Production
       Ybarra, Catherine         Voluntarily Terminated  Production
3      Zamora, Jennifer                          Active              IT/IS
       Zhou, Julia                               Active              IT/IS
5      Zima, Colleen                             Active  Production

                                    ManagerName  ManagerID  RecruitmentSource  \
DeptID Employee_Name
5      Adinolfi, Wilson  K       Michael Albert       22.0           LinkedIn
3      Ait Sidi, Karthikeyan         Simon Roup        4.0             Indeed
5      Akinkuolie, Sarah         Kissy Sullivan       20.0           LinkedIn
       Alagbe,Trina                Elijiah Gray       16.0             Indeed
       Anderson, Carol           Webster Butler       39.0      Google Search
...                                         ...        ...                ...
       Woodson, Jason            Kissy Sullivan       20.0           LinkedIn
       Ybarra, Catherine         Brannon Miller       12.0      Google Search
3      Zamora, Jennifer              Janet King        2.0  Employee Referral
       Zhou, Julia                   Simon Roup        4.0  Employee Referral
5      Zima, Colleen              David Stanley       14.0           LinkedIn

                                PerformanceScore  EngagementSurvey  \
DeptID Employee_Name
5      Adinolfi, Wilson  K               Exceeds              4.60
3      Ait Sidi, Karthikeyan         Fully Meets              4.96
5      Akinkuolie, Sarah             Fully Meets              3.02
       Alagbe,Trina                  Fully Meets              4.84
       Anderson, Carol               Fully Meets              5.00
...                                          ...               ...
       Woodson, Jason                Fully Meets              4.07
       Ybarra, Catherine                     PIP              3.20
3      Zamora, Jennifer                  Exceeds              4.60
       Zhou, Julia                   Fully Meets              5.00
5      Zima, Colleen                 Fully Meets              4.50

                                 EmpSatisfaction  SpecialProjectsCount  \
DeptID Employee_Name
5      Adinolfi, Wilson  K                     5                     0
3      Ait Sidi, Karthikeyan                   3                     6
5      Akinkuolie, Sarah                       3                     0
       Alagbe,Trina                            5                     0
       Anderson, Carol                         4                     0
...                                          ...                   ...
       Woodson, Jason                          4                     0
       Ybarra, Catherine                       2                     0
3      Zamora, Jennifer                        5                     6
       Zhou, Julia                             3                     5
5      Zima, Colleen                           5                     0

                                LastPerformanceReview_Date  DaysLateLast30  \
DeptID Employee_Name
5      Adinolfi, Wilson  K                       1/17/2019               0
3      Ait Sidi, Karthikeyan                     2/24/2016               0
5      Akinkuolie, Sarah                         5/15/2012               0
       Alagbe,Trina                               1/3/2019               0
       Anderson, Carol                            2/1/2016               0
...                                                    ...             ...
       Woodson, Jason                            2/28/2019               0
       Ybarra, Catherine                          9/2/2015               5
3      Zamora, Jennifer                          2/21/2019               0
       Zhou, Julia                                2/1/2019               0
5      Zima, Colleen                             1/30/2019               0

                                 Absences
DeptID Employee_Name
5      Adinolfi, Wilson  K              1
3      Ait Sidi, Karthikeyan           17
5      Akinkuolie, Sarah                3
       Alagbe,Trina                    15
       Anderson, Carol                  2
...                                   ...
       Woodson, Jason                  13
       Ybarra, Catherine                4
3      Zamora, Jennifer                16
       Zhou, Julia                     11
5      Zima, Colleen                    2

[311 rows x 34 columns]

In [28]:
df.reset_index()

,index,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,...,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,...,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,...,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,...,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,...,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,...,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,...,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,...,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,...,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,...,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,...,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

##### filtering - using conditions to filter rows and columns

In [29]:
FilterOne = df["EmploymentStatus"]=="Active"

In [30]:
FilterOne

0       True
1      False
2      False
3       True
4      False
       ...
306     True
307    False
308     True
309     True
310     True
Name: EmploymentStatus, Length: 311, dtype: bool

In [31]:
df[ df["EmploymentStatus"]=="Active"]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
5,"Anderson, Linda",10002,0,0,0,1,5,4,0,57568,0,19,Production Technician I,MA,1844,05/22/77,F,Single,US Citizen,No,White,1/9/2012,NaN,N/A-StillEmployed,Active,Production,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
6,"Andreola, Colby",10194,0,0,0,1,4,3,0,95660,0,24,Software Engineer,MA,2110,05/24/79,F,Single,US Citizen,No,White,11/10/2014,NaN,N/A-StillEmployed,Active,Software Engineering,Alex Sweetwater,10.0,LinkedIn,Fully Meets,3.04,3,4,1/2/2019,0,19
7,"Athwal, Sam",10062,0,4,1,1,5,3,0,59365,0,19,Production Technician I,MA,2199,02/18/83,M,Widowed,US Citizen,No,White,9/30/2013,NaN,N/A-StillEmployed,Active,Production,Ketsia Liebig,19.0,Employee Referral,Fully Meets,5.00,4,0,2/25/2019,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Wolk, Hang T",10174,0,0,0,1,5,3,0,60446,0,20,Production Technician II,MA,2302,04/20/85,F,Single,US Citizen,No,White,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,3.40,4,0,2/21/2019,0,14
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [32]:
#show a specific column value for a filter value by using loc
df.loc[ df["EmploymentStatus"]=="Active" ,"Salary" ]

0       62506
3       64991
5       57568
6       95660
7       59365
        ...
305     60446
306     65893
308    220450
309     89292
310     45046
Name: Salary, Length: 207, dtype: int64

In [33]:
 #filter using "or"(|) , "and"(&)
FilterTwo = ((df["EmploymentStatus"]=="Active") & (df["Position"]=="Data Analyst")) 
df[FilterTwo]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
12,"Barbossa, Hector",10012,0,2,1,1,3,4,1,92328,0,9,Data Analyst,TX,78230,07/04/88,M,Divorced,US Citizen,No,Black or African American,11/10/2014,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Diversity Job Fair,Exceeds,4.28,4,5,2/25/2019,0,9
57,"Costello, Frank",10193,1,1,1,1,3,3,0,83552,0,9,Data Analyst,MA,1810,08/26/86,M,Married,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,3.04,3,6,1/22/2019,0,2
220,"Petrowsky, Thelma",10016,1,1,0,1,3,4,0,93554,0,9,Data Analyst,MA,1886,09/16/84,F,Married,US Citizen,No,Black or African American,11/10/2014,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Exceeds,4.60,5,7,1/4/2019,0,16
238,"Roby, Lori",10162,1,1,0,1,3,3,0,89883,0,9,Data Analyst,MA,1886,10/11/81,F,Married,US Citizen,No,White,2/16/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,3.69,5,6,2/14/2019,0,15
254,"Simard, Kramer",10178,1,1,1,1,3,3,0,87826,0,9,Data Analyst,MA,2110,02/08/70,M,Married,US Citizen,Yes,White,1/5/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,3.32,3,7,1/14/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11

### Updating Data

In [34]:
df.rename(columns = {"Employee_Name" : "Names"} , inplace=True)
df

,Names,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [35]:
df.columns = df.columns.str.replace("EmpID", "MaimID")
df

,Names,MaimID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

apply function on series

In [36]:
df["Names"].apply(len)

0      19
1      24
2      17
3      12
4      16
       ..
306    14
307    18
308    16
309    11
310    13
Name: Names, Length: 311, dtype: int64

###### Add-Remove-Rows-Columns on Dataframe

In [37]:
df["ImportantInfo"]= df["Position"]+ " ,"+ df["Names"]
df

,Names,MaimID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,...,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,ImportantInfo
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,...,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1,"Production Technician I ,Adinolfi, Wilson K"
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,...,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17,"Sr. DBA ,Ait Sidi, Karthikeyan"
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,...,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3,"Production Technician II ,Akinkuolie, Sarah"
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,...,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15,"Production Technician I ,Alagbe,Trina"
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,...,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2,"Production Technician I ,Anderson, Carol"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,...,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13,"Production Technician II ,Woodson, Jason"
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,...,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4,"Production Technician I ,Ybarra, Catherine"
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,...,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16,"CIO ,Zamora, Jennifer"
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,...,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11,"Data Analyst ,Zhou, Julia"
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,...,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2,"Production Technician I ,Zima, Colleen"

In [38]:
df.drop("ImportantInfo", axis=1)

,Names,MaimID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

##### Sorting Data

In [39]:
df["Salary"].nsmallest(10)

310    45046
140    45069
231    45115
176    45395
152    45433
216    45998
159    46120
74     46335
247    46428
226    46430
Name: Salary, dtype: int64

In [40]:
df.nlargest(10, 'Salary')

,Names,MaimID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,...,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,ImportantInfo
150,"King, Janet",10089,1,1,0,1,2,3,0,250000,0,16,President & CEO,MA,1902,09/21/54,F,Married,...,Yes,White,7/2/2012,NaN,N/A-StillEmployed,Active,Executive Office,Board of Directors,9.0,Indeed,Fully Meets,4.83,3,0,1/17/2019,0,10,"President & CEO ,King, Janet"
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,...,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16,"CIO ,Zamora, Jennifer"
131,"Houlihan, Debra",10272,1,1,0,1,6,3,0,180000,0,11,Director of Sales,RI,2908,03/17/66,F,Married,...,No,White,5/5/2014,NaN,N/A-StillEmployed,Active,Sales,Janet King,2.0,LinkedIn,Fully Meets,4.50,4,0,1/21/2019,0,19,"Director of Sales ,Houlihan, Debra"
96,"Foss, Jason",10015,0,0,1,1,3,4,0,178000,0,12,IT Director,MA,1460,07/05/80,M,Single,...,No,Black or African American,4/15/2011,NaN,N/A-StillEmployed,Active,IT/IS,Jennifer Zamora,5.0,Indeed,Exceeds,5.00,5,5,1/7/2019,0,15,"IT Director ,Foss, Jason"
55,"Corleone, Vito",10019,0,0,1,1,5,4,0,170500,0,10,Director of Operations,MA,2030,03/19/83,M,Single,...,No,Black or African American,1/5/2009,NaN,N/A-StillEmployed,Active,Production,Janet King,2.0,Indeed,Exceeds,3.70,5,0,2/4/2019,0,15,"Director of Operations ,Corleone, Vito"
190,"Monroe, Peter",10288,1,1,1,1,3,2,1,157000,0,13,IT Manager - Infra,MA,2134,10/05/86,M,Married,...,Yes,Black or African American,2/15/2012,NaN,N/A-StillEmployed,Active,IT/IS,Jennifer Zamora,5.0,Diversity Job Fair,Needs Improvement,2.39,3,6,2/22/2019,4,13,"IT Manager - Infra ,Monroe, Peter"
240,"Roper, Katie",10086,0,0,0,1,3,3,0,150290,0,7,Data Architect,MA,2056,11/21/72,F,Single,...,No,Black or African American,1/7/2017,NaN,N/A-StillEmployed,Active,IT/IS,Brian Champaigne,13.0,Indeed,Fully Meets,4.94,3,5,2/6/2019,0,17,"Data Architect ,Roper, Katie"
244,"Ruiz, Ricardo",10222,0,2,1,5,3,3,1,148999,1,13,IT Manager - DB,MA,1915,01/04/64,M,Divorced,...,No,Black or African American,1/9/2012,11/4/2015,hours,Voluntarily Terminated,IT/IS,Jennifer Zamora,5.0,Diversity Job Fair,Fully Meets,4.30,4,6,1/4/2015,0,8,"IT Manager - DB ,Ruiz, Ricardo"
243,"Roup,Simon",10198,0,0,1,1,3,3,0,140920,0,13,IT Manager - DB,MA,2481,04/05/73,M,Single,...,No,White,1/20/2013,NaN,N/A-StillEmployed,Active,IT/IS,Jennifer Zamora,5.0,Indeed,Fully Meets,3.60,5,7,2/18/2019,0,13,"IT Manager - DB ,Roup,Simon"
76,"Dougall, Eric",10028,0,0,1,1,3,4,0,138888,0,13,IT Manager - Support,MA,1886,07/09/70,M,Single,...,No,Black or African American,1/5/2014,NaN,N/A-StillEmployed,Active,IT/IS,Jennifer Zamora,5.0,Indeed,Exceeds,4.30,5,5,1/4/2019,0,4,"IT Manager - Support ,Dougall, Eric"

In [41]:
df.sort_values("Salary")

,Names,MaimID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,...,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,ImportantInfo
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,...,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2,"Production Technician I ,Zima, Colleen"
140,"Jacobi, Hannah",10236,0,2,0,1,5,3,0,45069,0,19,Production Technician I,MA,1778,03/22/66,F,Divorced,...,No,White,9/30/2013,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,Employee Referral,Fully Meets,4.30,5,0,2/22/2019,0,7,"Production Technician I ,Jacobi, Hannah"
231,"Rhoads, Thomas",10058,0,2,1,5,5,3,0,45115,1,19,Production Technician I,MA,2176,07/22/82,M,Divorced,...,Yes,White,5/16/2011,1/15/2016,retiring,Voluntarily Terminated,Production,Elijiah Gray,16.0,LinkedIn,Fully Meets,5.00,4,0,3/30/2015,0,11,"Production Technician I ,Rhoads, Thomas"
176,"Mahoney, Lauren",10219,0,0,0,1,5,3,0,45395,0,19,Production Technician I,MA,2189,07/07/86,F,Single,...,No,White,1/6/2014,NaN,N/A-StillEmployed,Active,Production,Ketsia Liebig,19.0,LinkedIn,Fully Meets,4.60,4,0,2/26/2019,0,14,"Production Technician I ,Mahoney, Lauren"
152,"Kirill, Alexandra",10170,1,1,0,5,5,3,0,45433,1,19,Production Technician I,MA,2127,10/08/70,F,Married,...,No,White,9/26/2011,1/9/2014,more money,Voluntarily Terminated,Production,Amy Dunn,11.0,Google Search,Fully Meets,3.49,4,0,1/30/2013,0,6,"Production Technician I ,Kirill, Alexandra"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,"Corleone, Vito",10019,0,0,1,1,5,4,0,170500,0,10,Director of Operations,MA,2030,03/19/83,M,Single,...,No,Black or African American,1/5/2009,NaN,N/A-StillEmployed,Active,Production,Janet King,2.0,Indeed,Exceeds,3.70,5,0,2/4/2019,0,15,"Director of Operations ,Corleone, Vito"
96,"Foss, Jason",10015,0,0,1,1,3,4,0,178000,0,12,IT Director,MA,1460,07/05/80,M,Single,...,No,Black or African American,4/15/2011,NaN,N/A-StillEmployed,Active,IT/IS,Jennifer Zamora,5.0,Indeed,Exceeds,5.00,5,5,1/7/2019,0,15,"IT Director ,Foss, Jason"
131,"Houlihan, Debra",10272,1,1,0,1,6,3,0,180000,0,11,Director of Sales,RI,2908,03/17/66,F,Married,...,No,White,5/5/2014,NaN,N/A-StillEmployed,Active,Sales,Janet King,2.0,LinkedIn,Fully Meets,4.50,4,0,1/21/2019,0,19,"Director of Sales ,Houlihan, Debra"
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,...,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16,"CIO ,Zamora, Jennifer"
150,"King, Janet",10089,1,1,0,1,2,3,0,250000,0,16,President & CEO,MA,1902,09/21/54,F,Married,...,Yes,White,7/2/2012,NaN,N/A-StillEmployed,Active,Executive Office,Board of Directors,9.0,Indeed,Fully Meets,4.83,3,0,1/17/2019,0,10,"President & CEO ,King, Janet"

##### Grouping and Aggregating

In [43]:
RecruitmentSource_grp = df.groupby(["RecruitmentSource"])
RecruitmentSource_grp

In [46]:
RecruitmentSource_grp.get_group("LinkedIn")

,Names,MaimID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,...,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,ImportantInfo
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,...,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1,"Production Technician I ,Adinolfi, Wilson K"
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,...,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3,"Production Technician II ,Akinkuolie, Sarah"
5,"Anderson, Linda",10002,0,0,0,1,5,4,0,57568,0,19,Production Technician I,MA,1844,05/22/77,F,Single,...,No,White,1/9/2012,NaN,N/A-StillEmployed,Active,Production,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15,"Production Technician I ,Anderson, Linda"
6,"Andreola, Colby",10194,0,0,0,1,4,3,0,95660,0,24,Software Engineer,MA,2110,05/24/79,F,Single,...,No,White,11/10/2014,NaN,N/A-StillEmployed,Active,Software Engineering,Alex Sweetwater,10.0,LinkedIn,Fully Meets,3.04,3,4,1/2/2019,0,19,"Software Engineer ,Andreola, Colby"
19,"Becker, Scott",10277,0,0,1,3,5,3,0,53250,0,19,Production Technician I,MA,2452,04/06/79,M,Single,...,No,Asian,7/8/2013,NaN,N/A-StillEmployed,Active,Production,Webster Butler,NaN,LinkedIn,Fully Meets,4.20,4,0,1/11/2019,0,13,"Production Technician I ,Becker, Scott"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,"Whittier, Scott",10072,0,0,1,5,5,3,0,58371,1,19,Production Technician I,MA,2030,05/24/87,M,Single,...,Yes,White,1/10/2011,5/15/2014,hours,Voluntarily Terminated,Production,Webster Butler,39.0,LinkedIn,Fully Meets,5.00,5,0,5/15/2014,0,11,"Production Technician I ,Whittier, Scott"
304,"Winthrop, Jordan",10033,0,0,1,5,5,4,0,70507,1,20,Production Technician II,MA,2045,11/07/58,M,Single,...,No,White,1/7/2013,2/21/2016,retiring,Voluntarily Terminated,Production,Brannon Miller,12.0,LinkedIn,Exceeds,5.00,3,0,1/19/2016,0,7,"Production Technician II ,Winthrop, Jordan"
305,"Wolk, Hang T",10174,0,0,0,1,5,3,0,60446,0,20,Production Technician II,MA,2302,04/20/85,F,Single,...,No,White,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,3.40,4,0,2/21/2019,0,14,"Production Technician II ,Wolk, Hang T"
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,...,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13,"Production Technician II ,Woodson, Jason"
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,...,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2,"Production Technician I ,Zima, Colleen"

In [50]:
filt=df["RecruitmentSource"]=="LinkedIn"
df.loc[filt]["Department"].value_counts()

Production              61
IT/IS                   11
Software Engineering     2
Sales                    2
Name: Department, dtype: int64

In [51]:
df.loc[filt]["Department"].value_counts(normalize=True)

Production              0.802632
IT/IS                   0.144737
Software Engineering    0.026316
Sales                   0.026316
Name: Department, dtype: float64

In [54]:
RecruitmentSource_grp["Absences"].agg(["mean", "median"])

                              mean  median
RecruitmentSource
CareerBuilder            10.304348     9.0
Diversity Job Fair       11.379310    12.0
Employee Referral        10.290323     9.0
Google Search            10.367347    10.0
Indeed                    9.977011    10.0
LinkedIn                 10.302632    11.0
On-line Web application   1.000000     1.0
Other                     9.000000     9.0
Website                   9.230769     8.0

In [56]:
df.loc[filt]["Department"].str.contains("Software Engineering").sum()

2

In [58]:
RecruitmentSource_grp["Department"].apply(lambda x: x.str.contains("Software Engineering").sum())

RecruitmentSource
CareerBuilder              1
Diversity Job Fair         3
Employee Referral          0
Google Search              2
Indeed                     3
LinkedIn                   2
On-line Web application    0
Other                      0
Website                    0
Name: Department, dtype: int64